<footer class="footer-container position-sticky">
  <div class="footer-admin">
    <ul>
      <li>About Me</li>
      <li>|</li>
      <li>Complaints</li>
      <li>|</li>
      <li>Settings</li>
    </ul>
  </div>
 
</footer>