<footer class="footer-container position-sticky">
  <div class="footer-admin">
    <ul>
      <a href="/recipes/about"><li>About Me</li></a>
      <li>|</li>
      <a href="/recipes/motto"><li>Company Motto</li></a>
      <li>|</li>
      <a href="/recipes/new"><li>Create New Recipe</li></a>
    </ul>
  </div>
</footer>
