<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs')%>
  </head>
<body>
  <header>
    <%-include('../partials/header.ejs')%>
  </header>
  <div class="mt-2 d-flex justify-content-lg-center">
    <form action="/recipes" method="POST">
      <div class="mb-3">
        <label for="recipeCategory">Choose a Category</label>
        <select name="category" id="recipeCategory" form="categoryFrom">
          <option value="Breakfast" name="Breakfast">Breakfast</option>
          <option value="Lunch" name="Lunch">Lunch</option>
          <option value="Snack" name="Snack">Snack</option>
          <option value="Dinner" name="Dinner">Dinner</option>
        </select>
      </div>
      <div class="mb-1">
        <input class="form-control" type="text" name="title" id="recipeTitle" placeholder="Enter Name of Recipe"><br>
      </div>
      <div class="mb-3">
        <textarea style="width:600px; height:150px;" class="form-control" placeholder="Description goes here" name="description" id="recipeDescription" cols="30" rows="10"></textarea><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="url" name="picture" id="recipeImg" placeholder="Enter image Url"><br>
      </div>
      <div class="mb-3">
        <textarea style="width:600px; height:175px;" class="form-control" placeholder="Enter Ingredients: Separate by putting each ingredient on its own line." name="directions" id="recipeDirections" cols="30" rows="10"></textarea><br>
      </div>
      <div class="mb-3">
        <textarea style="width:600px; height:175px;" class="form-control" placeholder="Enter Ingredients: Separate by putting each step on its own line." name="directions" id="recipeDirections" cols="30" rows="10"></textarea><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="number" name="prepTime" id="prepTime" placeholder="Enter Prep Time"><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="number" name="cookTime" id="cookTime" placeholder="Enter Cook Time"><br>
      </div>
      <div class="mb-3">
        <input class="form-control" type="number" name="servingSize" id="servingSize" placeholder="Enter Serving Size"><br>
      </div>
      <div class="mb-3">
        <input class="form-control btn btn-secondary" type="submit" value="Create Recipe" role="button">
      </div>
    </form>
  </div>
  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>
</body>
</html>