<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('../partials/header.ejs')%>
  </header>
  <h1>hello</h1>
    <%=recipe.title%>
  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>
</body>
</html>